doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="main.css")
    title Main
  body 
    include pugs/header.pug
    div
      h1(style='display: inline') Hello in gulp-template!
      img(src="images/icons/gulp-logo.svg" alt="" width=120)
    img(src="images/hello.jpg" alt="")
  script(src="main.js") 